# Binaries
*.exe
*.dll
*.so
*.dylib
url-shortener-api

# Go
api/vendor/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/*.tfvars
infra/.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Flox
.flox/run/
.flox/cache/
